DelaunayMeshMaker/xcode/DelaunayMeshMaker.xcodeproj/project.xcworkspace/xcuserdata/tim.xcuserdatad/UserInterfaceState.xcuserstate
DelaunayMeshMaker/xcode/DelaunayMeshMaker.xcodeproj/project.xcworkspace/xcuserdata/tim.xcuserdatad/WorkspaceSettings.xcsettings
DelaunayMeshMaker/xcode/DelaunayMeshMaker.xcodeproj/xcuserdata/tim.xcuserdatad/xcschemes/DelaunayMeshMaker.xcscheme
DelaunayMeshMaker/xcode/DelaunayMeshMaker.xcodeproj/xcuserdata/tim.xcuserdatad/xcschemes/xcschememanagement.plist
